<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card list-container">
          <div class="card-body py-4 px-4 px-md-5">

            <p class="h1 text-center mt-3 pb-3 text-primary">
              <i class="fas fa-check-square me-1"></i>
              <u>Список задач</u>
            </p>

            <div class="pb-2">
              <div class="card">
                <app-todo-search></app-todo-search>
              </div>
            </div>

            <hr class="my-4">

            <div>
              <app-todo-filter></app-todo-filter>
            </div>

            <div class="list-group rounded-0 bg-transparent">
              @for (task of tasks; track task.id) {
                <app-item [task]="task"></app-item>
              }
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
